.detail {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 780px;
  background: #fff url(../img/likemen.png) no-repeat bottom right;
  background-size: 150px;
  border-radius: 16px;
  box-shadow: 0px 10px 50px 0px rgba(4, 0, 49, 0.10);
  padding: 36px 36px 80px;
}
.detail__head {
  display: grid;
  grid-template-columns: 101px 1fr;
  gap: 12px 20px;
}
.detail__logo {
  width: 100%;
  max-height: 101px;
  grid-row: 1/3;
  justify-self: center;
  align-self: center;
}
.detail__company {
  justify-self: start;
  align-self: end;
  font-size: 32px;
  letter-spacing: 0.64px;
}
.detail__title {
  justify-self: start;
  align-self: start;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #EAECFF;
  font-size: 20px;
}
.detail__body {
  display: flex;
  gap: 20px;
}
.detail__description {
  max-width: 465px;
  line-height: 1.4;
}
.detail__fields > * + * {
  margin-top: 4px;
}
.detail__field {
  display: block;
  width: fit-content;
  padding: 3px 10px;
  border-radius: 30px;
  background-color: #EAECFF;
}
.detail__link:hover {
  color: #A6ADFF;
}

@media (max-width: 940px) {
  .detail {
    max-width: 680px;
    padding: 24px 24px 72px;
  }
  .detail__body {
    gap: 10px;
  }
  .detail__description {
    max-width: 418px;
  }
}

@media (max-width: 640px) {
  .detail {
    padding: 24px 15px;
    background-image: none;
  }
  .detail__head {
    grid-template-columns: 60px 1fr;
    gap: 4px 8px;
  }
  .detail__logo {
    max-height: 60px;
  }
  .detail__company {
    font-size: 20px;
    letter-spacing: 0.4px;
  }
  .detail__title {
    font-size: 12px;
  }
  .detail__body {
    flex-direction: column;
    gap: 24px;
  }
  .detail__description {
    max-width: 100%;
  }
}