.file {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}
.file__wrap-preview {
  min-width: 280px;
  height: 80px;
  border-radius: 4px;
  background-color: #FFF;
  padding: 4px;
  display: flex;
  align-items: center;
}
.file--active .file__wrap-preview {
  background-color: transparent;
  min-width: auto;
}
.file__wrap-preview--active {
  min-width: auto;
}
.file__wrap-btn {
  position: relative;
}
.file__wrap-btn:focus-within .file__label {
  border: 2px solid #4F58BE;
}
.file__label {
  display: inline-block;
  max-width: 100%;
  width: 165px;
  height: 32px;
  background-color: #A6ADFF;
  border-radius: 8px;
  border: 2px solid transparent;
  outline: none;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}
.file__label:hover {
  background-color: #2A18FF;
  color: #fff;
}
.file__label:disabled {
  background-color: #EEEEF4;
  cursor: no-drop;
}

.file__input {
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  top: 50%;
  left: 50%;
}