.header {
  padding: 40px 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.header__logo-link {
  outline: 2px solid transparent;
  border-radius: 8px;
}
.header__logo-link:focus,
.header__logo-link:focus-visible {
  outline-color: #4F58BE;
}
.header__logo {
  width: 137px;
}
.header__link-wrap {
  display: flex;
  gap: 8px;
}
.header__link {
  padding: 10px 30px;
  background-color: #A6ADFF;
  border-radius: 8px;
  border: 2px solid transparent;
  font-size: 20px;
  text-align: center;
  outline: none;
}
.header__link:hover {
  background-color: #2A18FF;
  color: #fff;
}
.header__link:focus,
.header__link:focus-visible {
  border: 2px solid #4F58BE;
}
.header__link:disabled {
  background-color: #EEEEF4;
  cursor: no-drop;
}
.header__link--add {
  border: 2px solid #A6ADFF;
  background-color: #fff;
}
.header__link--add:hover {
  border-color: #2A18FF;
}

@media (max-width: 1140px) {
  .header {
    padding: 32px 0 40px;
  }
}

@media (max-width: 940px) {
  .header {
    padding: 24px 0 30px;
  }
  .header__link {
    padding: 8px 14px;
    font-size: 14px;
  }
}

@media (max-width: 646px) {
  .header {
    padding: 24px 0 20px;
  }
  .header__container {
    justify-content: center;
  }
  .header__container, .header__link-wrap {
    flex-direction: column;
  }
  .header__link-wrap {
    max-width: 290px;
    width: 100%;
    gap: 4px;
  }
}