.hero {
  padding: 117px 0 107px;
}
.hero__container {
  position: relative;
}
.hero__container::after {
  content: '';
  position: absolute;
  top: -56px;
  right: -9px;
  width: 421px;
  height: 330px;
  background: url(../img/laptop.png) center/contain no-repeat;
}
.hero__title {
  max-width: 780px;
  font-size: 90px;
  font-weight: 400;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}